# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.*.local

# Local mock data
data/db.json

# Python cache & virtualenvs
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db
